* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Fira Sans", serif;
    background-color: rgb(245, 245, 245);
}

/* Header css */
section {
    margin: 0 auto;
    max-width: 2140px;
}
.header-container {
    display: flex;
    background-color: rgb(198, 228, 214);
    gap: 64px;
    max-width: 100vw;
    margin: auto;
    border-radius: 24px;
    padding: 80px 60px;
    margin: 80px 160px;
}

.header-text {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.header-bd {
    font-size: 24px;
    font-weight: 500;
    color: rgba(14, 14, 14, 0.5);
}

.header-quote {
    font-size: 56px;
    font-weight: 700;
    color: rgb(14, 14, 14);
}

.header-btn {
    background-color: rgb(0, 106, 80);
    width: 270px;
    height: 56px;
    border-radius: 8px;
    color: white;
    border: none;
    font-size: 18px;
    font-weight: 600;
}

.header-btn:hover {
    background-color: white;
    color: rgb(0, 106, 80);
    transition-duration: 0.2s;
    border: 1px solid rgb(0, 106, 80);
}

/* Future section */

.future-container {
    display: flex;
    flex-direction: column;
    gap: 32px;
    max-width: 100vw;
    margin: 0px 160px;
}

.future-title {
    font-size: 40px;
    font-weight: 700;
    color: rgb(14, 14, 14);
}

.future-info {
    font-size: 16px;
    font-weight: 400;
    color: rgba(14, 14, 14, 0.7);
    margin-top: 24px;
    
}

.future-cards {
    display: flex;
    gap: 24px;
}

.future-cards-1 {
    background-color: rgba(84, 144, 245, 0.2);
    padding: 32px;
    border-radius: 16px;
    
}

.future-cards-2 {
    background-color: rgb(198, 228, 214);
    padding: 32px;
    border-radius: 16px;
}

.future-cards-3 {
    background-color: rgb(247, 235, 207);
    padding: 32px;
    border-radius: 16px;
}

.future-cards button {
    border-radius: 8px;
    color: white;
    width: 122px;
    height: 41px;
    border: none;
    font-weight: 600;
}

.future-cards-1 button {
    background-color: rgb(84, 144, 245);
}

.future-cards-1 button:hover {
    background-color: white;
    border: 1px solid rgb(84, 144, 245);
    color: rgb(84, 144, 245);
    transition-duration: 0.2s;
}

.future-cards-2 button {
    background-color: rgb(9, 161, 92);
    color: white;
}

.future-cards-2 button:hover {
    background-color: white;
    border: 1px solid rgb(9, 161, 92);
    color: rgb(9, 161, 92);
    transition-duration: 0.2s;
}

.future-cards-3 button {
    background-color: rgb(255, 194, 57);
}

.future-cards-3 button:hover {
    background-color: white;
    border: 1px solid rgb(255, 194, 57);
    color: rgb(255, 194, 57);
    transition-duration: 0.2s;
}

.future-cards div h3 {
    margin-top: 24px;
    font-size: 20px;
    font-weight: 700;
    color: rgba(14, 14, 14, 0.8);
}

.future-cards div p {
    margin-bottom: 24px;
    font-size: 16px;
    font-weight: 400;
    color: rgba(14, 14, 14, 0.7);
}

.yunus-container {
    background-image: url(assets/quote-bg.png);
    background-repeat: no-repeat;
    max-width: 100vw;
    background-color: rgb(255, 255, 255);
    margin: 32px 160px;
    padding: 48px 24px;
    border-radius: 16px;
    background-position: top 20px left 25px;
}

.yunus-quote {
    font-size: 16px;
    font-weight: 400;
    color: rgba(14, 14, 14, 0.8);
}

.yunus-name {
    font-size: 20px;
    font-weight: 600;
    color: rgba(14, 14, 14, 0.8);
    margin-top: 12px;
}

.yunus-advisor {
    font-size: 16px;
    font-weight: 400;
    color: rgba(14, 14, 14, 0.8);
}

/* news section */

.news {
    display: flex;
    flex-direction: column;
    width: 1200px;
    margin: 0px 160px;
    max-width: 100vw;
    
}

.news-text h2 {
    font-size: 40px;
    font-weight: 700;
    color: rgb(14, 14, 14);
}

.news-text p {
    font-size: 16px;
    font-weight: 400;
    color: rgba(14, 14, 14, 0.7);
    margin: 24px 0px 32px 0px;
}

.news-card-1 {
    display: flex;
    gap: 32px;
    justify-content: space-between;
    background-color: white;
    padding: 48px;
    border-radius: 24px;
}

.news-card-2 {
    display: flex;
    gap: 32px;
    background-color: white;
    padding: 48px;
    border-radius: 24px;
}

.news-h3 {
    font-size: 32px;
    font-weight: 700;
    color: rgba(14, 14, 14, 0.8);
}

.news-body {
    font-size: 16px;
    font-weight: 400;
    color: rgba(14, 14, 14, 0.7);
    margin: 12px 0px;
}

.news-sub-div {
    display: flex;
    gap: 12px;
    margin: 12px 0px;
}

.news-sub-div div {
    font-size: 16px;
    font-weight: 400;
    color: rgba(14, 14, 14, 0.7);
}

.news-card-1 div button {
    font-size: 18px;
    background-color: rgb(0, 106, 80);
    width: 139px;
    height: 48px;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    color: white;
}

.news-card-1 div button:hover {
    background-color: white;
    border: 1px solid rgb(0, 106, 80);
    color: rgb(0, 106, 80);
    transition-duration: 0.2s;
}

.news-card-2 div button {
    font-size: 18px;
    background-color: rgb(0, 106, 80);
    width: 139px;
    height: 48px;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    color: white;
}

.news-card-2 div button:hover {
    background-color: white;
    border: 1px solid rgb(0, 106, 80);
    color: rgb(0, 106, 80);
    transition-duration: 0.2s;
}

.news-card-1 img {
    margin-top: 12px;
    border-radius: 24px;
}

.news-card-2 img {
    margin-top: 12px;
    border-radius: 24px;
}

/* donate */

.donate-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100vw;
    gap: 32px;
    margin: 80px 160px;
    text-align: center;
}

.donate-container h2 {
    font-size: 40px;
    font-weight: 700;
    color: rgb(14, 14, 14);
}

.donate-container p {
    font-size: 16px;
    font-weight: 400px;
    color: rgba(14, 14, 14, 0.7);
}

.taka {
    display: flex;
    gap: 24px;

}

.taka button {
    width: 252px;
    height: 128px;
    border-radius: 18px;
    background-color: white;
    font-size: 40px;
    font-weight: 700;
    color: rgba(14, 14, 14, 0.8);
    border: none;
}

.taka button:hover {
    background-color: rgb(9, 161, 92);
    color: white;
    transition-duration: 0.2s;
}

.donate-container input {
    width: 80%;
    height: 50px;
    text-align: center;
    font-size: 20px;
    border-radius: 8px;
}

.donate-container .donate-now {
        width: 151px;
        height: 56px;
        background-color: rgb(0, 106, 80);
        color: white;
        border-radius: 8px;
        border: none;
        font-size: 18px;
        font-weight: 600;

}

.donate-container .donate-now:hover {
    background-color: white;
    color: rgb(0, 106, 80);
    border: 1px solid rgb(0, 106, 80);
    transition-duration: 0.2s;
}


.letter-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 160px;
    background-color: rgb(198, 228, 214);
    border-radius: 24px;
    padding: 75px;
    gap: 16px;
}

.letter-container h2 {
    font-size: 40px;
    font-weight: 700;
    color: rgb(14, 14, 14);

}

.letter-container p {
    font-family: 14px;
    font-weight: 400;
    color: rgba(14, 14, 14, 0.7);
}

.input-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.input-container input {
    border: none;
    width: 50%;
    height: 50px;
    border-radius: 10px 0px 0px 10px;
}

.input-container button {
    height: 50px;
    padding: 0px 34px;
    font-size: 18px;
    font-weight: 600;
    background-color: rgb(0, 106, 80);
    color: white;
    border-radius: 0px 10px 10px 0px;
    border: none;
}

.input-container input::placeholder {
    position: relative;
    left: 20px;
    font-size: 16px;
    font-weight: 400;
    color: rgba(14, 14, 14, 0.3);
    
}

footer {
    
}